@font-face {
    font-family: 'subtext';
    src: url('./fonts/IndieFlower-Regular.ttf');
}

@font-face {
    font-family: 'title';
    src: url('./fonts/Monofett-Regular.ttf');
}

#home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    height: 70vh;
}

#intro, .subtitle {
    font-family: 'subtext';
    font-size: 40px;
}

#store-name {
    font-family: 'title';
    font-size: 150px;
}

.button {
    font-family: 'Courier New', Courier, monospace;
    padding: 8px;
    border-radius: 8px;
    background-color: black;
}

.button a {
    color: white;
    font-size: 20px;
}

#logo {
    font-family: 'title';
    font-size: 30px;
}

#nav-right {
    font-family: 'subtext';
    font-size: 23px;
}